/* Write your code here: */
h1, h2 {                                        /* Group Selector */
    color: blueviolet;
}

.box > p {                                      /* Child Selector */
    color: firebrick;
}

.box li {                                       /* Descendant Selector */
    color: blue;
}

li.done {                                       /* Chaining Selector */
    color: seagreen;
}

ul p.done {                                     /* Combining Combiners Selector */
    font-size: 0.5 rem;
}